table, th, td {
 border: 1px solid black;
 border-collapse: collapse;
 }
 p {
   font-family: 'PliskaRegular';
   font-weight: normal;
   font-style: normal;
} 
body {
	background-image: url('background.webp');
	background-repeat: no-repeat;
 }
h1 {
	background-color:DeepSkyBlue;
 }
h2 {
	background-color:rgb(36, 112, 197);
	background-color:#3c60ff;
	background-color:hsl(210, 73%, 82%);
	
 } 

