<ul class="navigationbar">
	<li class="active"><a href="index.html" class = "{% if page.name == "index.html" %} selectednav {% endif %}">Начална страница</a></li>
	<li class="dropdown"> 
		<a href="javascript:void(0)" class="dropbtn">Електрически локомотиви</a>
	<div class="dropdown-content">
		<a href="41seria.html" class = "{% if page.name == "41seria.html" %} selectednav {% endif %}">41 серия</a>
		<a href="42seria.html" class = "{% if page.name == "42seria.html" %} selectednav {% endif %}">42 серия</a>
		<a href="43seria.html" class = "{% if page.name == "43seria.html" %} selectednav {% endif %}">43 серия</a>
		<a href="44seria.html" class = "{% if page.name == "44seria.html" %} selectednav {% endif %}">43P, 44/45 серия</a>
		<a href="46seria.html" class = "{% if page.name == "46seria.html" %} selectednav {% endif %}">46 серия</a>
		<a href="61seria.html" class = "{% if page.name == "61seria.html" %} selectednav {% endif %}">61 серия</a>
		<a href="80seria.html" class = "{% if page.name == "80seria.html" %} selectednav {% endif %}">80 серия</a>
	</div>
	</li>
	<li class="dropdown"> 
		<a href="javascript:void(0)" class="dropbtn">Дизелови локомотиви</a>
		<div class="dropdown-content">
			<a href="4seria.html"  class = "{% if page.name == "4seria.html" %} selectednav {% endif %}">04 серия(недовършен)</a>
			<a href="6seria.html"  class = "{% if page.name == "6seria.html" %} selectednav {% endif %}">06 серия(недовършен)</a>
			<a href="7seria.html"  class = "{% if page.name == "7seria.html" %} selectednav {% endif %}">07 серия(недовършен)</a>
			<a href="52seria.html"  class = "{% if page.name == "52seria.html" %} selectednav {% endif %}">52 серия(недовършен)</a>
			<a href="55seria.html"  class = "{% if page.name == "55seria.html" %} selectednav {% endif %}">55 серия(недовършен)</a>
		</div>
	</li>
	<li class="dropdown"> 
		<a href="javascript:void(0)" class="dropbtn">Мотриси</a>
		<div class="dropdown-content">
			<a href="10seria.html"  class = "{% if page.name == "10seria.html" %} selectednav {% endif %}">10 серия(недовършен)</a>
			<a href="30seria.html"  class = "{% if page.name == "30seria.html" %} selectednav {% endif %}">30/31 серия(недовършен)</a>
			<a href="32seria.html"  class = "{% if page.name == "32seria.html" %} selectednav {% endif %}">32 серия(недовършен)</a>
			<a href="33seria.html"  class = "{% if page.name == "33seria.html" %} selectednav {% endif %}">33 серия(недовършен)</a>
		</div>
	</li>
</ul>